.card {
    height: 100%;
    padding: 12px;
    text-align: left;
}

.header {
    height: 37px;
    text-decoration: underline;
}

.trails {
    height: calc(100% - 37px);
    overflow: auto;
    text-overflow: ellipsis;
}

.trail:hover {
    background-color: #515a6b;
    cursor: pointer;
}