.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.darkTheme {
    background-color: #282c34;
    color: white;
}

.lightTheme {
    background-color: whitesmoke;
    color: black;
}

.theme-toggle-container {
    position: absolute;
    top: 12px;
    left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
}

.map-container {
    height: 49vh;
    box-sizing: border-box;
}

.trails-in-view-container {
    width: 25vw;
    height: 48vh;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
}

.recent-trails-container {
    width: 25vw;
    height: 48vh;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
}

.trail-detail-container {
    width: 49vw;
    height: 48vh;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 760px) {
    .trails-in-view-container {
        width: 50vw;
        height: 20vh;
        margin-bottom: 12px;
    }
    
    .recent-trails-container {
        width: 50vw;
        height: 20vh;
        margin-bottom: 12px;
    }
    
    .trail-detail-container {
        width: 100vw;
        height: 25vh;
    }
}