.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.row:first-child {
    height: 50vh;
}

.map-container {
    width: 70%;
}

.trails-in-view-container {
    width: 30%;
}

.recent-trails-container {
    width: 30%;
}

.trail-detail-container {
    width: 100%;
}